<link rel="stylesheet"  href="/jsLibs/themes/default/easyui.css">
<link rel="stylesheet"  href="/jsLibs/themes/icon.css">
<!--<link rel="stylesheet"  href="'/jsLibs/demo/demo.css">-->

<script  src="/jsLibs/jquery.min.js"></script>
<script  src="/jsLibs/jquery.easyui.min.js"></script>

<script src = "/javascripts/registration.js"> </script>
<script src="/javascripts/messager.js"></script>

<div style="margin:20px 0;"></div>
    <div class="easyui-panel" title="New Topic" style="width:100%;max-width:400px;padding:30px 60px;">
        <form id="ff" method="post">
            <div style="margin-bottom:20px">
                <input class="easyui-textbox" name="name" style="width:100%" data-options="label:'First Name:',required:true">
            </div>
              <div style="margin-bottom:20px">
                 <input class="easyui-textbox" name="subject" style="width:100%" data-options="label:'Last Name:',required:true">
             </div>
            <div style="margin-bottom:20px">
                <input class="easyui-textbox" name="email" style="width:100%" data-options="label:'Email:',required:true,validType:'email'">
            </div>
        </form>
        <div style="text-align:center;padding:5px 0">
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()" style="width:80px">Submit</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()" style="width:80px">Clear</a>
        </div>
</div>